<!DOCTYPE html>
<html>
<head>
  <title>AutoSwipe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'angular' %>
  <%= stylesheet_link_tag 'angular/app', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= yield %>
  </body>
</html>
